@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary colors */
  --grayishBlue: hsl(237, 18%, 59%);
  --softRed: #fb6087;
  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --darkDesaturatedBlue: hsl(236, 21%, 26%);
  --veryDarkBlue: hsl(235, 16%, 14%);
  --superDarkBlue: #191a24;

  font-family: "Red Hat Text", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  font-size: 14px;
}
